.container {
    margin-left: 10px;
    margin-right: 10px;
}
#drawingArea {
    height: 3000px;
    width: 2000px;
    position: relative;
    overflow: scroll;
}

.node {
    color: #0088cc;
    min-width:80px;
    max-width: 230px;
    padding: 5px;
    height:40px;
    border-radius: 4px;
    border: 1px solid;
    position: absolute;
    background-color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;;
}
.node .deleteIcon {
    color:#bd362f;
    position: absolute;
    right: 0;
    bottom: 0;
    padding:2px;
}
.node .deleteIcon:hover {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.node .editIcon:hover {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.node .editIcon {
    position: absolute;
    left: 0;
    bottom: 0;
    padding:2px;
}
textarea {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.twoCharacterInput {
    width: 25px !important;
}

a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active {
    color:#aaa !important;
}

a.disabled-link:hover {
    background: inherit;
}

.ui-datepicker-opentele-knockout {
    position: relative;
}

.ui-datepicker-opentele-knockout input.hasDatepicker {
    width: 120px;
}

.ui-datepicker-opentele-knockout .ui-datepicker-trigger {
    top: -10px;
    right: 1px;
    position: absolute;
    border-radius: 2px;
    border: 1px solid transparent;
}

div#weekdayScheduleSetupContainer {

}

div#weekdayScheduleSetupContainer label {
    display: inline-block;

}

div#weekdayScheduleSetupContainer input[type="checkbox"] {
    float: left;
    margin-right: 5px;

}

div#reminderStartContainer {
    padding-bottom: 10px;
}

